{{ define "main" }}

{{ partial "navigation.html" . }}

<section class="section single-section">
  <div class="container">
    <div class="row section-bg">
      <div class="col-lg-8 offset-lg-2">
        <h1 class="my-3">{{ .Title }}</h1>
        <div class="post-single-content text-justify">
        <br/>
		{{ .Content }}
        </div>
      </div>
    </div>
    <div class="col-lg-8 offset-lg-2">
      <ul class="list-inline mb-50">
        <li class="list-inline-item"><a href="{{ `author/` | relLangURL }}{{ .Params.Author | urlize }}/">{{ .Params.Author }}</a></li>
        <li class="list-inline-item">Date: {{ dateFormat "Monday, Jan 2, 2006" .Date }}</li>
      </ul>
    </div>
</div>
</section>

{{ end }}
