{{ define "main" }}

{{ partial "navigation.html" . }}

<section class="section single-section">
  <div class="container support">
    <div class="row section-bg">
      <div class="col-lg-8 offset-lg-2 text-center">
        <h1 class="my-3">{{ .Title }}</h1>
      </div>
      <div class="col-lg-8 offset-lg-2">
        <div class="post-single-content">

          {{ .Content }}
        </div>
        {{ if site.Params.post_share }}
        {{ partial "post-share.html" . }}
        {{ end }}
        <!-- comments -->
        <div class="mt-5">
          {{ template "_internal/disqus.html" . }}
        </div>
      </div>
    </div>
  </div>
</section>

<script>
	const adainput = document.getElementById("ada_input");
	const adabtn = document.getElementById("ada_button");
	
	function copyAda() {
		adainput.select();
		document.execCommand("copy");
		adabtn.innerHTML = "Copied!";
	}

	adabtn.addEventListener("click", copyAda);

	const ethinput = document.getElementById("eth_input");
	const ethbtn = document.getElementById("eth_button");
	
	function copyeth() {
		ethinput.select();
		document.execCommand("copy");
		ethbtn.innerHTML = "Copied!";
	}
	
	ethbtn.addEventListener("click", copyeth);

	const btcinput = document.getElementById("btc_input");
	const btcbtn = document.getElementById("btc_button");
	
	function copybtc() {
		btcinput.select();
		document.execCommand("copy");
		btcbtn.innerHTML = "Copied!";
	}
	
	btcbtn.addEventListener("click", copybtc);

</script>

<script>

	lis = document.getElementsByTagName("li");
	l = lis.length;
	for (i = 0; i < l; i++) {
		li_text = lis[i].innerText
		// finding the right list element
		if(li_text.startsWith("Cryptocurrencies:")) {
			lis[i].id = "cryptocurrencies";
			var crypto = {}
			
			// creating an object with listed currencies 
			ca = li_text.split(":");
			list = ca[1].split(", ");
			for (ilist=0; ilist < list.length; ilist++) {
				svalue = list[ilist].trim();
				cname  = svalue.split(" ")[0]
				cvalue = svalue.split(" ")[1]

				console.log(" " + cname + " -> " + cvalue);
				values = {}
				values.c = cvalue;
				values.euro = 0;

				crypto[cname] = values;
			}
			
			console.log("crypto:" + JSON.stringify(crypto));
			
			// creating the url
			keys = Object.keys(crypto);
			console.log("keys " + keys);
			srequest = ""
			for(ikey=0; ikey < keys.length; ikey++) {
				if(srequest.length>0) {
					srequest += ",";
				}
				srequest += keys[ikey] + "EUR";
			}
			url = "https://api.kraken.com/0/public/Ticker?pair=" + srequest;
			console.log("url " + url);
			
			// request
			var xmlhttp = new XMLHttpRequest()
			xmlhttp.onreadystatechange = function() {
			    if (this.readyState == 4 && this.status == 200) {
					
			        var result = JSON.parse(this.responseText).result;
			        handleCryptoResult(crypto, result);
			    }
			};
			xmlhttp.open("GET", url, true);
			xmlhttp.send();
		}
	} 

	function handleCryptoResult(crypto, result) {
		var li = document.getElementById("cryptocurrencies");
		console.log("crypto " + JSON.stringify(crypto) + " result:" + JSON.stringify(result));
		
		text = "Cryptocurrencies: "
		
		var total_eur = 0;
		
		keys = Object.keys(result);
		for(ikey=0; ikey < keys.length; ikey++) {
			pairname = keys[ikey];
			console.log("pairname " + pairname);

			cres = result[pairname];
			cvalue = cres['a'][0];
			console.log("result " + JSON.stringify(cres));
			console.log("name:" + pairname + " value:" + cvalue);
			
			pairname = pairname.replace("XETHZ", "ETH");
			pairname = pairname.replace("XXBTZ", "BTC");
			console.log("pairname " + pairname);

			cname = pairname.replace("EUR", ""); 
			c = crypto[cname];
			console.log("name:" + cname + " c " + JSON.stringify(c));
			
			c.eur = c.c * cvalue;
			total_eur += c.eur;
			
			console.log(JSON.stringify(c));
			
			text += "" + cname+":" + c.c + " -> " + (Math.round(c.eur*100)/100).toFixed(2) + "€, "
		}
		
		text +=" in total: " + (Math.round(total_eur * 100)/100).toFixed(2) + "€";
		
		li.innerHTML = text;
	}
</script>

{{ end }}
