.unit-index-images img {
	margin-bottom: 20px;
}

#lua-navbar-toggler:checked ~ .collapse {
    display:block;
}

@media (min-width: 992px)  {

  .sections-content .card-text {
    tempheight: 100%;
  }
  
  .readmore {
    height: 100%;  
  }
}

.post-single-content img {
  width: 100%;
}