
<div class="container-md text-center">
<div class="row">

{{ range .Site.Params.sections }}

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 mb-2 p-0">
  <div class="container p-0 h-100 d-flex">
    <div class="row border m-1 pt-2 pb-2 h-100">
        {{ $image := resources.Get .image }}
        {{ $imagealt := .id }}
        {{ if $image }}
        {{ $image_filled := $image.Process "fill 800x800" }}
      <div class="col-md-4 col-lg-12 sections-image-col">
        <img src="{{ $image_filled.Permalink }}" class="w-100" alt="{{ $imagealt }}">
      </div>
      <div class="col-md-8 col-lg-12 mt-2 flex-fill sections-content">
        {{ else }}
      <div class="col-md-12 col-lg-12 mt-2 flex-fill sections-content">
        {{ end }}
        
          <h5 class="card-title mb-2">{{ .title }}</h5>
          <p class="card-text">{{ .text }}</p>
          <a href="/model/#{{ .id }}" class="readmore">Read more.</a>
      </div>
    </div>
  </div>
</div>
    
{{ end }}

</div>
</div>