{{ $unitname := .Params.unitname }}


{{ with .Site.Pages }}

{{ range . }}

	{{ if eq .Params.unitname $unitname }} 
	{{ if eq .Params.unitpage "main" }} 
		
<section class="hero-area" style='background-image: url("{{ .RelPermalink }}/{{ .Params.bgimage }}")' >
	<!-- this image is for trigger this section fallback background image -->
	<img class="d-none" src="{{ .Params.bgimage }}"/>
	<noscript>
		<style>
			.hero-area {
				background-image: "{{ .Params.bgimage }}";
			}
		</style>
	</noscript>
	
	<div class="block">
		{{ if .Params.icon }}
		<div class="video-button">
			<i class="{{ .icon }}"></i>
		</div>
		{{ end }}
		<h1>{{ .Params.title | markdownify }}</h1>
		<p>{{ .Params.title_content | markdownify }}</p>
	</div>
</section>

	{{ end }}
	{{ end }}
{{ end }}
{{ end }}
